.background {
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
}

.background img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    transform: translate(-50%);
}

.background img.loaded {
    opacity: 1;
}

.background small {
    filter: blur(250px);
}
